<!DOCTYPE html>
<html lang="es">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Nuevo Registro - {{.AppName}}</title>
</head>
<body>
<p>Se ha generado un nuevo registro en la Web de {{.AppName}}</p>
<div>
    <p>Nombres: {{ .FirstName }}</p>
</div>
<div>
    <p>Apellidos: {{ .LastName }}</p>
</div>
<div>
    <p>Email: {{ .Email }}</p>
</div>
{{ if .Phone }}
<div>
    <p>Teléfono: {{ .Phone }}</p>
</div>
{{ end }}
{{ if .Company }}
<div>
    <p>Empresa: {{ .Company }}</p>
</div>
{{ end }}
{{if .Subject }}
<div>
    <p>Sujeto: {{ .Subject }}</p>
</div>
{{end}}
<div>
    <p>Mensaje: {{ .Message }}</p>
</div>
</body>
</html>
